In [26]:
import pandas as pd
import numpy as np


df_air = pd.read_pickle('train.pkl')
df_weath = pd.read_pickle('Weather.pkl')
df_weath = df_weath.rename(columns={"NAME":"ORIGIN", "DATE":"FL_DATE"})
df_weath['FL_DATE'] = pd.to_datetime(df_weath['FL_DATE']).dt.strftime('%Y-%m-%d')

df = df_air.merge(df_weath, on=['ORIGIN','FL_DATE'], how='outer')

df_weath = df_weath.rename(columns={"ORIGIN":"DEST", "DATE":"FL_DATE"})
df = df.merge(df_weath, on=['DEST','FL_DATE'], how='outer')
df = df.fillna(0)
df = df[df['ORIGIN'] != 0]
df = df[df['DEST'] != 0]
df.to_csv('data.csv')
#zeros = [0] * df.index.size
#for code in df["OP_UNIQUE_CARRIER"].unique():
 #   del df[code]
    
#for index, row in df.iterrows():
 #   for code in df["OP_UNIQUE_CARRIER"].unique():
  #      if(code == row["OP_UNIQUE_CARRIER"]):
   #         row[code] = 1
df["DEP_DELAY_NEW"]

0         0.0
1         0.0
2         0.0
3        19.0
4         0.0
         ...
82707     0.0
82708     0.0
82709     0.0
82710     0.0
82711     0.0
Name: DEP_DELAY_NEW, Length: 82712, dtype: float64

In [12]:
len(df["OP_UNIQUE_CARRIER"].unique())
df

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,...,NK,WN,AA,F9,UA,B6,OO,YX,9E,VX
0,2018-12-25,AS,LAS,SEA,610.0,604.0,-6.0,0.0,0.0,-1.0,...,0,0,0,0,0,0,0,0,0,0
1,2018-12-25,DL,LAS,SEA,1136.0,1133.0,-3.0,0.0,0.0,-1.0,...,0,0,0,0,0,0,0,0,0,0
2,2018-12-25,NK,LAS,SEA,1128.0,1126.0,-2.0,0.0,0.0,-1.0,...,0,0,0,0,0,0,0,0,0,0
3,2018-12-25,WN,LAS,SEA,1010.0,1029.0,19.0,19.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,2018-12-25,AS,LAS,SEA,945.0,933.0,-12.0,0.0,0.0,-1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82707,2018-02-03,NK,LAS,LAX,2030.0,2020.0,-10.0,0.0,0.0,-1.0,...,0,0,0,0,0,0,0,0,0,0
82708,2018-02-03,WN,LAS,LAX,725.0,725.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
82709,2018-02-03,AA,LAS,LAX,2110.0,2108.0,-2.0,0.0,0.0,-1.0,...,0,0,0,0,0,0,0,0,0,0
82710,2018-02-03,OO,LAS,LAX,600.0,557.0,-3.0,0.0,0.0,-1.0,...,0,0,0,0,0,0,0,0,0,0
82711,2018-02-03,OO,LAS,LAX,1010.0,1002.0,-8.0,0.0,0.0,-1.0,...,0,0,0,0,0,0,0,0,0,0