In [64]:
import pandas as pd
import numpy as np


df_air = pd.read_pickle('train.pkl')
df_weath = pd.read_pickle('Weather.pkl')
df_weath = df_weath.rename(columns={"NAME":"ORIGIN", "DATE":"FL_DATE"})
df_weath['FL_DATE'] = pd.to_datetime(df_weath['FL_DATE']).dt.strftime('%Y-%m-%d')

df = df_air.merge(df_weath, on=['ORIGIN','FL_DATE'], how='outer')

df_weath = df_weath.rename(columns={"ORIGIN":"DEST", "DATE":"FL_DATE"})
df = df.merge(df_weath, on=['DEST','FL_DATE'], how='outer')
df = df.fillna(0)
df = df[df['ORIGIN'] != 0]
df = df[df['DEST'] != 0]
df.head()

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,...,WSF5_y,WT01_y,WT02_y,WT03_y,WT04_y,WT05_y,WT06_y,WT07_y,WT08_y,WT09_y
0,2018-12-25,AS,LAS,SEA,610.0,604.0,-6.0,0.0,0.0,-1.0,...,13.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018-12-25,DL,LAS,SEA,1136.0,1133.0,-3.0,0.0,0.0,-1.0,...,13.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2018-12-25,NK,LAS,SEA,1128.0,1126.0,-2.0,0.0,0.0,-1.0,...,13.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-12-25,WN,LAS,SEA,1010.0,1029.0,19.0,19.0,1.0,1.0,...,13.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018-12-25,AS,LAS,SEA,945.0,933.0,-12.0,0.0,0.0,-1.0,...,13.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0